/* font-family: 'Staatliches', cursive; */
footer{
    background-color: lightpink; font-size: large; text-decoration: underline;

}
h1 {
    font-family: 'Staatliches', cursive; text-decoration: underline overline;
}
.hero {
   background: url(../img/header.jpg) no-repeat;
   background-size: cover;
   height: 0.5;
   min-height: 400px;
   color:beige
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif; text-decoration: underline; color:darkgoldenrod
    
}

.lista-novedades{
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-novedades li{
    margin: 4px 0;
}

.lista-novedades li a{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    color: #a0a0a0;
    transform: all .2s ease-in-out;
    display: block;

}

.lista-novedades li a:hover{
    color: #212529;
    background-color: #dadada;
}

.lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.lista-novedades li a:hover img{
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}